doctype html5
html(lang='en')
    head
        title Centerpoint
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/app.css', rel='stylesheet')

    body
        #map
        #points-list

        script(src='/socket.io/socket.io.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAJp6oACbrVBZwWszMLrZLSAgt4IdjlX04')
        script(src='/js/app.js')

